extends layout

block content
  h1 Welcome to the Broncos Players List
  p View players by clicking below
  a(href='/players') View players
  
  p Add players by clicking below
  a(href='/players/add') Add player
  
  h2 You are not logged in, please login or signup below
  p You have to be signed in to add a player to the list
  p If you have already signed up, please login
  a(href='/auth/login') Login
  
  p If you haven't signed up yet, please do so before loggin in
  a(href='/auth/signup') Signup
