extends layout

block content
  h1 Welcome to the Broncos Players List
  p View players by clicking below
  a(href='/players') View players
  
  p Add players by clicking below
  a(href='/players/add') Add player
  
  p In order to add a player, you must be signed in
  a(href='/auth/login') Login
  
  p If you haven't signed up yet, please do so before loggin in
  a(href='/auth/signup') Signup
